body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #0729be;
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    margin: 0.5em 0;
    font-size: 3em;
}

header p {
    margin: 0;
    font-size: 1.5em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

footer p {
    margin: 0;
    font-size: 1em;
}

footer a {
    color: #0b5ed7;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (min-height: 500px) {
    header {
        margin-top: -50px; 
    }
}
